.container {
  width:100vh;
  height: 90vh;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

/* For screens smaller than 600px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  footer {
    font-size: 14px;
  }
}

/* For screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    width: 90%;
  }

  h1 {
    font-size: 6rem;
  }

  img {
    width: 60%;
  }

  footer {
    font-size: 16px;
    padding: 15px;
  }
}

/* For screens larger than 900px */
@media screen and (min-width: 900px) {
  .container {
    width: 70%;
  }

  h1 {
    font-size: 8rem;
  }

  footer {
    font-size: 18px;
    padding: 20px;
  }
}
